<%= form_for(@call) do |f| %>
  <% if @call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
      <% @call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :emergency_description %><br />
    <%= f.text_field :emergency_description %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
   <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
   <div class="field">
    <%= f.label :caller %><br />
    <%= f.text_field :caller %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
 
  
<% end %>
